{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.armari{% endtrans %}
{% endblock %}
{% block recursos %}
    <script type="text/javascript" src="{{ asset('bundles/page/js/hotspots.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var n = $('#ninot_balena');
            APP.balena = {
                id : 'ninot_balena',
                x : parseInt(n.attr('x')),
                y : parseInt(n.attr('y')),
                width : parseInt(n.attr('width')),
                height : parseInt(n.attr('height'))
            };
            n = $('#ninot_girafa');
            APP.girafa = {
                id : 'ninot_girafa',
                x : parseInt(n.attr('x')),
                y : parseInt(n.attr('y')),
                width : parseInt(n.attr('width')),
                height : parseInt(n.attr('height'))
            };
            var n = $('#ninot_ocell');
            APP.ocell = {
                id : 'ninot_ocell',
                x : parseInt(n.attr('x')),
                y : parseInt(n.attr('y')),
                width : parseInt(n.attr('width')),
                height : parseInt(n.attr('height'))
            };
            var n = $('#ninot_pitet');
            APP.pitet = {
                id : 'ninot_pitet',
                x : parseInt(n.attr('x')),
                y : parseInt(n.attr('y')),
                width : parseInt(n.attr('width')),
                height : parseInt(n.attr('height'))
            };
            var n = $('#ninot_gossalsitxa');
            APP.gos = {
                id : 'ninot_gossalsitxa',
                x : parseInt(n.attr('x')),
                y : parseInt(n.attr('y')),
                width : parseInt(n.attr('width')),
                height : parseInt(n.attr('height'))
            };
            $(document).trigger('app/setMovement', APP.balena);
            $(document).trigger('app/setMovement', APP.girafa);
            $(document).trigger('app/setMovement', APP.ocell);
            $(document).trigger('app/setMovement', APP.pitet);
            $(document).trigger('app/setMovement', APP.gos);
        });
    </script>
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
    {{ knp_menu_render('PageBundle:Builder:armari_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">  
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="337">
            <image x="0" y="0" width="813" height="337" preserveAspectRatio="none" xlink:href="/images/wardrobe.png"></image>
            <a xlink:href="{{ path( 'armari_balena_' ~ app.request.locale ) }}"><image id="ninot_balena" x="410" y="195" width="120" height="134" preserveAspectRatio="xMinYMin" xlink:href="/images/balena.png"></image></a>
            <a xlink:href="{{ path( 'armari_girafa_' ~ app.request.locale ) }}"><image id="ninot_girafa" x="543" y="120" width="100" height="210" preserveAspectRatio="xMinYMin" xlink:href="/images/girafa.png"></image></a>
            <a xlink:href="{{ path( 'armari_ocell_' ~ app.request.locale ) }}"><image id="ninot_ocell" x="385" y="165" width="70" height="70" preserveAspectRatio="xMinYMin" xlink:href="/images/ocell.png"></image></a>
            <a xlink:href="{{ path( 'armari_pitet_' ~ app.request.locale ) }}"><image id="ninot_pitet" x="185" y="250" width="120" height="75" preserveAspectRatio="xMinYMin" xlink:href="/images/pitet_nena.png"></image></a>
            <a xlink:href="{{ path( 'armari_gossalsitxa_' ~ app.request.locale ) }}"><image id="ninot_gossalsitxa" x="185" y="145" width="170" height="80" preserveAspectRatio="xMinYMin" xlink:href="/images/gos.png"></image></a>
            <a xlink:href="{{ path( 'armari_banderola_' ~ app.request.locale ) }}"><image x="175" y="5" width="460" height="125" preserveAspectRatio="xMinYMin" xlink:href="/images/banderoles.png"></image></a>
        </svg>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('armari_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('armari_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('armari_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 

