{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}inicio{% endtrans %}
{% endblock %}
{% block description %}
    {% trans %}description.global{% endtrans %}
{% endblock %}
{% block recursos %}
    <style type="text/css" media="screen">
        .slides_container {
            width:459px;
            height:693px;
        }
        .slides_container div {
            width:459px;
            height:693px;
            display:block;
        }
    </style>
    <script type="text/javascript" src="{{ asset('bundles/page/js/vendor/slides.min.jquery.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $("#slides").slides({
                preload: false,
                generateNextPrev: false,
                pagination: false,
                effect: 'slide',
                play: 3000,
                generatePagination: false
            });
        });
    </script>
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="home-panel-izquierdo">
            <div id="slides">
                <div class="slides_container">
                    <div>
                        <img src="{{ asset( '/images/ionaiona_home_00.png' ) }}" alt="ionaiona patchdolls & co" title="">
                    </div>
                    <div>
                        <img src="{{ asset( '/images/ionaiona_home_01.png' ) }}" alt="ionaiona patchdolls & co" title="ionaiona">
                    </div>
                    <div>
                        <img src="{{ asset( '/images/ionaiona_home_02.png' ) }}" alt="ionaiona patchdolls & co" title="ionaiona">
                    </div>
                    <div>
                        <img src="{{ asset( '/images/ionaiona_home_03.png' ) }}" alt="ionaiona patchdolls & co" title="ionaiona">
                    </div>
                    <div>
                        <img src="{{ asset( '/images/ionaiona_home_04.png' ) }}" alt="ionaiona patchdolls & co" title="ionaiona">
                    </div>
                    <div>
                        <img src="{{ asset( '/images/ionaiona_home_05.png' ) }}" alt="ionaiona patchdolls & co" title="ionaiona">
                    </div>
                    <div>
                        <img src="{{ asset( '/images/ionaiona_home_06.png' ) }}" alt="ionaiona patchdolls & co" title="ionaiona">
                    </div>
                    <div>
                        <img src="{{ asset( '/images/ionaiona_home_07.png' ) }}" alt="ionaiona patchdolls & co" title="ionaiona">
                    </div>
                </div>
            </div>
        </div>
        <div class="home-panel-derecho">
            <a href=""><img src="{{ asset( '/images/ionaiona_home_destacat_01.png' ) }}" alt="{% trans %}home.nadons{% endtrans %}" title="{% trans %}home.nadons{% endtrans %}" class="resalte"></a>
            <a href="{{ path( 'armari_' ~ app.request.locale ) }}"><img src="{{ asset( '/images/ionaiona_home_destacat_02.png' ) }}" alt="{% trans %}home.armari{% endtrans %}" title="{% trans %}home.armari{% endtrans %}" class="resalte"></a>
            <a href="{{ path( 'armari_items_' ~ app.request.locale, { nom : lastProduct.slug, id : lastProduct.id } ) }}"><img src="{{ asset( '/images/ionaiona_home_destacat_03.png' ) }}" alt="{% trans %}home.ultima{% endtrans %}" title="{% trans %}home.ultima{% endtrans %}" class="resalte" style="margin-bottom:0"></a>
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('home_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('home_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('home_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 