{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}inicio{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="home-panel-izquierdo">
            <img src="{{ asset( '/images/ionaiona_home_01.jpg' ) }}" alt="ballena iona iona patchdoll" title="Foto principal">
        </div>
        <div class="home-panel-derecho">
            <a href=""><img src="{{ asset( '/images/ionaiona_home_destacat_01.jpg' ) }}" alt="" title=""></a>
            <a href=""><img src="{{ asset( '/images/ionaiona_home_destacat_02.jpg' ) }}" alt="" title=""></a>
            <a href=""><img src="{{ asset( '/images/ionaiona_home_destacat_03.jpg' ) }}" alt="" title="" style="margin-bottom:0"></a>
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('home_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('home_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('home_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 