{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}inicio{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <img src="{{ vich_uploader_asset(pagina, 'image1File') | imagine_filter('imatge940') }}" alt="ballena iona iona patchdoll" title="Foto principal">
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('home_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('home_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('home_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 