{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.armari{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
    {{ knp_menu_render('PageBundle:Builder:armari_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="detall-item-armari-dreta">
            store step 2
        </div>
        <div class="detall-item-armari-esquerra">
            <table>
                <thead>
                    <tr>
                        <th colspan="4" style="color:#D84359;text-align:center">{% trans %}store.cistell{% endtrans %}</th>
                    </tr>
                    <tr>
                        <th>{% trans %}store.imatge{% endtrans %}</th>
                        <th>{% trans %}store.producte{% endtrans %}</th>
                        <th style="text-align:right">{% trans %}store.quantitat{% endtrans %}</th>
                        <th style="text-align:right">{% trans %}store.import{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set subtotal = 0 %}
                    {% for item in items %}
                        <tr>
                            <td><img src="{{ vich_uploader_asset(item, 'image1File') | imagine_filter('imatge80') }}" alt="" title=""></td>
                            <td><strong>{{ item.name }}</strong><br>{{ item.code }}</td>
                            <td style="text-align:right"><strong>1<strong></td>
                            <td style="text-align:right"><strong>{{ item.price | number_format(2, '\'', '.') }} €<strong></td>
                            {% set subtotal = subtotal + item.price %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">{% trans %}store.carrier{% endtrans %}</th>
                        <th>{{ fee_carrier | number_format(2, '\'', '.') }} €</th>
                    </tr>
                    <tr>
                        <th colspan="3">{% trans %}store.subtotal{% endtrans %}</th>
                        <th><strong>{{ (subtotal + fee_carrier) | number_format(2, '\'', '.') }} €<strong></th>
                    </tr>
                    <tr>
                        <th colspan="3">{% trans %}store.iva{% endtrans %} {{ fee_iva }}%</th>
                        <th>{{ (( (subtotal + fee_carrier) * fee_iva ) / 100) | number_format(2, '\'', '.') }} €</th>
                    </tr>

                    <tr>
                        <th colspan="3">{% trans %}store.total{% endtrans %}</th>
                        <th>{{ (( subtotal + fee_carrier ) + ( (subtotal + fee_carrier) * fee_iva ) / 100) | number_format(2, '\'', '.') }} €</th>
                    </tr>
                </tfoot>
            </table>
            <table style="margin-top:30px">
                <thead>
                    <tr>
                        <th colspan="2" style="color:#D84359;text-align:center">{% trans %}store.form{% endtrans %}</th>
                    </tr>
                </thead>
                <form action="{{ path('buy_step_2_' ~ app.request.locale) }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                <tbody>
                    <tr>
                        <td>{{ 'store.form.name' | trans }}</td>
                        <td>{{ form_errors(form.name) }}{{ form_widget(form.name) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'store.form.address' | trans }}</td>
                        <td>{{ form_errors(form.address) }}{{ form_widget(form.address) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'store.form.postalCode' | trans }}</td>
                        <td>{{ form_errors(form.postalCode) }}{{ form_widget(form.postalCode) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'store.form.city' | trans }}</td>
                        <td>{{ form_errors(form.city) }}{{ form_widget(form.city) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'store.form.state' | trans }}</td>
                        <td>{{ form_errors(form.state) }}{{ form_widget(form.state) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'store.form.email' | trans }}</td>
                        <td>{{ form_errors(form.email) }}{{ form_widget(form.email) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'store.form.phone' | trans }}</td>
                        <td>{{ form_errors(form.phone) }}{{ form_widget(form.phone) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'store.form.mensaje' | trans }}</td>
                        <td>{{ form_errors(form.mensaje) }}{{ form_widget(form.mensaje) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'store.form.wantNewsletter' | trans }}</td>
                        <td>{{ form_errors(form.wantNewsletter) }}{{ form_widget(form.wantNewsletter) }}</td>
                    </tr>
                </tbody>
                {{ form_rest(form) }}
                <tfoot>
                    <tr>
                        <th><input type="submit" value="{{ 'store.form.cancel' | trans }}"></th>
                        <th><input type="submit" value="{{ 'store.form.send' | trans }}"></th>
                    </tr>
                </tfoot>
                </form>
            </table>
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('armari_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('armari_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('armari_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 