{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.armari{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
    {{ knp_menu_render('PageBundle:Builder:armari_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="detall-item-armari-dreta">
            <h2>{% trans %}store.steps{% endtrans %}</h2>
            <ol>
                <li>{% trans %}store.step.1{% endtrans %}</li>
                <li>{% trans %}store.step.2{% endtrans %}</li>
                <li class="current">{% trans %}store.step.3{% endtrans %}</li>
            </ol>
        </div>
        <div class="detall-item-armari-esquerra">
            <h2 style="color:#D84359;font-size:0.85em;margin-top:6px;">{% trans %}store.thankyou{% endtrans %}</h2>
            <p style="font-size:0.85em;font-family: 'GothamBook';">
                {{ pagina.text1 | raw }}
            </p>
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('armari_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('armari_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('armari_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 