{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.armari{% endtrans %}
{% endblock %}
{% block description %}
    {% trans %}description.global{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
    {{ knp_menu_render('PageBundle:Builder:armari_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="botiga-item-armari-esquerra">
            <h3>{% trans %}store.cistell{% endtrans %}</h3>
            <table>
                <thead>
                    <tr>
                        <th>{% trans %}store.producte{% endtrans %}</th>
                        <th>{% trans %}store.descripcio{% endtrans %}</th>
                        <th style="text-align:right">{% trans %}store.quantitat{% endtrans %}</th>
                        <th style="text-align:right">{% trans %}store.import{% endtrans %}</th>
                        <th style="width:20px"></th>
                    </tr>
                </thead>
                <tbody>
                    {% set subtotal = 0 %}
                    {% for item in items %}
                        <tr>
                            <td><img src="{{ vich_uploader_asset(item, 'image1File') | imagine_filter('imatge80') }}" alt="" title=""></td>
                            <td><strong>{{ item.name }}</strong><br>{{ item.code }}</td>
                            <td style="text-align:right">1</td>
                            <td style="text-align:right">{{ item.price | number_format(2, '\'', '.') }} €</td>
                            <td style="text-align:right"><a href="{{ path('cancel_buy_' ~ app.request.locale, { id : item.id }) }}">x</a></td>
                            {% set subtotal = subtotal + item.price %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">{% trans %}store.carrier{% endtrans %}</th>
                        <th>{{ fee_carrier | number_format(2, '\'', '.') }} €</th>
                        <th style="width:30px"></th>
                    </tr>
                    <tr>
                        <th colspan="3">{% trans %}store.subtotal{% endtrans %}</th>
                        <th>{{ (subtotal + fee_carrier) | number_format(2, '\'', '.') }} €</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="3">{% trans %}store.iva{% endtrans %} {{ fee_iva }}%</th>
                        <th>{{ (( (subtotal + fee_carrier) * fee_iva ) / 100) | number_format(2, '\'', '.') }} €</th>
                        <th></th>
                    </tr>
                    <tr class="final">
                        <th colspan="3"><strong>{% trans %}store.total{% endtrans %}</strong></th>
                        <th><strong>{{ (( subtotal + fee_carrier ) + ( (subtotal + fee_carrier) * fee_iva ) / 100) | number_format(2, '\'', '.') }} €</strong></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <a style="float:right;margin-top:30px;margin-left:50px" class="call-to-action black" href="{{ path( 'buy_step_2_' ~ app.request.locale ) }}">{% trans %}store.confirmarcompra{% endtrans %}</a>
            <a style="float:right;margin-top:30px" class="call-to-action grey" href="{{ path( 'armari_' ~ app.request.locale ) }}">{% trans %}store.seguircompra{% endtrans %}</a>
        </div>
        <div class="detall-item-armari-dreta">
            <h2>{% trans %}store.steps{% endtrans %}</h2>
            <ol>
                <li class="current">{% trans %}store.step.1{% endtrans %}</li>
                <li>{% trans %}store.step.2{% endtrans %}</li>
                <li>{% trans %}store.step.3{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('armari_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('armari_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('armari_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 