{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.armari{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
    {{ knp_menu_render('PageBundle:Builder:armari_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="botiga-item-armari-esquerra">
            <h3>{% trans %}store.cistell{% endtrans %}</h3>
            <table style="background:none;border-bottom:solid 1px #000">
                <thead>
                    <tr>
                        <th>{% trans %}store.producte{% endtrans %}</th>
                        <th>{% trans %}store.descripcio{% endtrans %}</th>
                        <th style="text-align:right">{% trans %}store.quantitat{% endtrans %}</th>
                        <th style="text-align:right">{% trans %}store.import{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set subtotal = 0 %}
                    {% for item in items %}
                        <tr>
                            <td><img src="{{ vich_uploader_asset(item, 'image1File') | imagine_filter('imatge80') }}" alt="" title=""></td>
                            <td><strong>{{ item.name }}</strong><br>{{ item.code }}</td>
                            <td style="text-align:right">1</td>
                            <td style="text-align:right">{{ item.price | number_format(2, '\'', '.') }} €</td>
                            {% set subtotal = subtotal + item.price %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">{% trans %}store.carrier{% endtrans %}</th>
                        <th>{{ fee_carrier | number_format(2, '\'', '.') }} €</th>
                    </tr>
                    <tr>
                        <th colspan="3">{% trans %}store.subtotal{% endtrans %}</th>
                        <th>{{ (subtotal + fee_carrier) | number_format(2, '\'', '.') }} €</th>
                    </tr>
                    <tr>
                        <th colspan="3">{% trans %}store.iva{% endtrans %} {{ fee_iva }}%</th>
                        <th>{{ (( (subtotal + fee_carrier) * fee_iva ) / 100) | number_format(2, '\'', '.') }} €</th>
                    </tr>
                    <tr class="final">
                        <th colspan="3"><strong>{% trans %}store.total{% endtrans %}</strong></th>
                        <th><strong>{{ (( subtotal + fee_carrier ) + ( (subtotal + fee_carrier) * fee_iva ) / 100) | number_format(2, '\'', '.') }} €</strong></th>
                    </tr>
                </tfoot>
            </table>
            <h3 style="margin-bottom:1px">{% trans %}store.form{% endtrans %}</h3>
            <table class="formulari">
                <form id="store-form" action="{{ path('buy_step_2_' ~ app.request.locale) }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                <tbody>
                    <tr>
                        <th style="width:200px">{{ 'store.form.name' | trans }}</th>
                        <td>{{ form_errors(form.name) }}{{ form_widget(form.name) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'store.form.address' | trans }}</th>
                        <td>{{ form_errors(form.address) }}{{ form_widget(form.address) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'store.form.postalCode' | trans }}</th>
                        <td>{{ form_errors(form.postalCode) }}{{ form_widget(form.postalCode) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'store.form.city' | trans }}</th>
                        <td>{{ form_errors(form.city) }}{{ form_widget(form.city) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'store.form.state' | trans }}</th>
                        <td>{{ form_errors(form.state) }}{{ form_widget(form.state) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'store.form.email' | trans }}</th>
                        <td>{{ form_errors(form.email) }}{{ form_widget(form.email) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'store.form.phone' | trans }}</th>
                        <td>{{ form_errors(form.phone) }}{{ form_widget(form.phone) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'store.form.mensaje' | trans }}</th>
                        <td>{{ form_errors(form.mensaje) }}{{ form_widget(form.mensaje) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'store.form.wantNewsletter' | trans }}</th>
                        <td>{{ form_errors(form.wantNewsletter) }}{{ form_widget(form.wantNewsletter) }}</td>
                    </tr>
                </tbody>
                {{ form_rest(form) }}
            </table>

                            <input style="float:right;margin-top:30px;margin-left:50px" type="submit" value="{{ 'store.form.send' | trans }}">
                            <a style="float:right;margin-top:30px" class="call-to-action grey" href="{{ path( 'armari_' ~ app.request.locale ) }}">{% trans %}store.form.cancel{% endtrans %}</a>


                </form>
            <!-- /table -->
        </div>
        <div class="detall-item-armari-dreta">
            <h2>{% trans %}store.steps{% endtrans %}</h2>
            <ol>
                <li>{% trans %}store.step.1{% endtrans %}</li>
                <li class="current">{% trans %}store.step.2{% endtrans %}</li>
                <li>{% trans %}store.step.3{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('armari_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('armari_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('armari_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 