{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.armari{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
    {{ knp_menu_render('PageBundle:Builder:armari_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="conjunt-items-armari">
            <div class="file-block">
                {% if items | length > 0 %}
                    {% for item in items %}
                        <div class="one-item-block">
                            <a href="{{ path( 'armari_items_' ~ app.request.locale, { nom : item.slug, id : item.id }) }}"><img src="{{ vich_uploader_asset(item, 'image1File') | imagine_filter('imatge260') }}" alt="" title=""></a>
                            <div class="one-item-foot">
                                <div style="float:left;width:75%">{{ item.name }}</div>
                                <div style="float:right;width:20%;text-align:right;">{{ item.price }} €</div>
                            </div>
                        </div>
                    {% if loop.index % 3 == 0 %}
                        </div>
                        <div class="file-block">
                    {% endif %}
                    {% endfor %}
            </div>
                {% else %}
                    {% trans %}noitems{% endtrans %}
                {% endif %}
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('armari_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('armari_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('armari_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 