{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.armari{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
    {{ knp_menu_render('PageBundle:Builder:armari_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="conjunt-items-armari">
            <p>
                {% for item in items %}
                    <a href="{{ path( 'armari_balenes_' ~ app.request.locale, { nom : item.slug, id : item.id }) }}"><img src="{{ vich_uploader_asset(item, 'image1File') | imagine_filter('imatge260') }}" alt="" title=""></a>
                    {% if loop.index % 3 == 0 %}
                        </p><p>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('armari_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('armari_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('armari_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 