{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.armari{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
    {{ knp_menu_render('PageBundle:Builder:armari_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block recursos %}
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="detall-item-armari-dreta">
            <h2>{% trans %}detall.armari.cartilla{% endtrans %}</h2>
            <p>
                {% trans %}detall.armari.nom{% endtrans %} <span style="color:#D84359">{{ item.name }}</span><br>
                {% trans %}detall.armari.referencia{% endtrans %} <span style="color:#D84359">{{ item.code }}</span><br>
                {% if item.birth %}
                    {% if item.gender == 0 %}
                        {% trans %}detall.armari.naixement.masculi{% endtrans %}
                    {% else %}
                        {% trans %}detall.armari.naixement.femeni{% endtrans %}
                    {% endif %}
                    <span style="color:#D84359">{{ item.birth }}</span><br>
                {% endif %}
                {% if item.dimensions %}{% trans %}detall.armari.dimensions{% endtrans %} <span style="color:#D84359">{{ item.dimensions }}</span><br>{% endif %}
                {% if item.weight %}{% trans %}detall.armari.pes{% endtrans %} <span style="color:#D84359">{{ item.weight }} gr.</span><br>{% endif %}
                {% if item.fabrics %}{% trans %}detall.armari.quantitat{% endtrans %} <span style="color:#D84359">{{ item.fabrics }}</span><br>{% endif %}
                {% if item.specifications %}{% trans %}detall.armari.especificacions{% endtrans %} <span style="color:#D84359">{{ item.specifications }}</span><br>{% endif %}
                {% trans %}detall.armari.preu{% endtrans %} <span style="color:#D84359">{{ item.price }} €</span><br>
            </p>
            <a style="width:30%;margin-top:30px" class="call-to-action red" href="{{ path( 'buy_step_1_' ~ app.request.locale, { id : item.id } ) }}">{% trans %}detall.armari.comprar{% endtrans %}</a>
            <a style="margin:30px 0 15px 0;display:block" href="http://pinterest.com/pin/create/button/?url={{ url('armari_items_' ~ app.request.locale, { nom : item.slug, id : item.id } ) }}&media=http%3A%2F%2Fwww.ionaiona.com%2Fuploads%2Fimages%2F{{ item.image1 }}" class="pin-it-button" count-layout="horitzontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
            <iframe src="//www.facebook.com/plugins/like.php?href={{ url('armari_items_' ~ app.request.locale, { nom : item.slug, id : item.id } ) }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=167440589985790" scrolling="no" frameborder="0" style="border:none; overflow:visible; width:450px; height:21px;" allowTransparency="true"></iframe>
        </div>
        <div class="detall-item-armari-esquerra">
            <div class="detall-item-armari-esquerra-botonera">
                {% if needsPrev == true %}
                    <a class="esquerra" href="{{ path( 'armari_items_' ~ app.request.locale, { nom : prev.slug, id : prev.id }) }}">
                        <img src="/images/button_left.png" alt="{% trans %}detall.armari.boto.esq{% endtrans %}">
                    </a>
                {% endif %}
                {% if needsNext == true %}
                    <a class="dreta" href="{{ path( 'armari_items_' ~ app.request.locale, { nom : next.slug, id : next.id }) }}">
                        <img src="/images/button_right.png" alt="{% trans %}detall.armari.boto.dre{% endtrans %}">
                    </a>
                {% endif %}
            </div>
            <img id="fix-it" src="{{ vich_uploader_asset(item, 'image1File') | imagine_filter('imatge530') }}" alt="{% trans %}detall.armari.altimatge{% endtrans %} {{ item.name }}" title="{{ item.name }}">
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('armari_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('armari_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('armari_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 