{% extends 'PageBundle:Global:layout.html.twig' %}
{% block titulo %}
    {% trans %}menu.armari{% endtrans %}
{% endblock %}
{% block menu %}
    {{ knp_menu_render('PageBundle:Builder:main_' ~ app.request.locale ~ '_Menu') }}
    {{ knp_menu_render('PageBundle:Builder:armari_' ~ app.request.locale ~ '_Menu') }}
{% endblock %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="detall-item-armari-dreta">
            <h2>{% trans %}detall.armari.cartilla{% endtrans %}</h2>
            <p>
                {% trans %}detall.armari.nom{% endtrans %} <span style="color:#D84359">{{ item.name }}</span><br>
                {% trans %}detall.armari.referencia{% endtrans %} <span style="color:#D84359">{{ item.code }}</span><br>
                {% trans %}detall.armari.naixement{% endtrans %} <span style="color:#D84359">{{ item.birth }}</span><br>
                {% trans %}detall.armari.dimensions{% endtrans %} <span style="color:#D84359">{{ item.dimensions }}</span><br>
                {% trans %}detall.armari.pes{% endtrans %} <span style="color:#D84359">{{ item.weight }} gr.</span><br>
                {% trans %}detall.armari.quantitat{% endtrans %} <span style="color:#D84359">{{ item.fabrics }}</span><br>
                {% trans %}detall.armari.especificacions{% endtrans %} <span style="color:#D84359">{{ item.specifications }}</span><br>
                {% trans %}detall.armari.preu{% endtrans %} <span style="color:#D84359">{{ item.price }} €</span><br>
            </p>
            <a style="width: 30%;margin-top: 30px" class="call-to-action red" href="{{ path( 'buy_step_1_' ~ app.request.locale, { id : item.id } ) }}">{% trans %}detall.armari.comprar{% endtrans %}</a>
        </div>
        <div class="detall-item-armari-esquerra">
            {% if needsPrev == true %}
                <a href="{{ path( 'armari_items_' ~ app.request.locale, { nom : prev.slug, id : prev.id }) }}"><</a>
            {% endif %}
            <img src="{{ vich_uploader_asset(item, 'image1File') | imagine_filter('imatge530') }}" alt="" title="">
            {% if needsNext == true %}
                <a href="{{ path( 'armari_items_' ~ app.request.locale, { nom : next.slug, id : next.id }) }}">></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block peuidiomes %}
    <a href="{{ path('armari_ca', {'_locale' : 'ca'}) }}">{% trans %}idiomas.catalan{% endtrans %}</a><br>
    <a href="{{ path('armari_es', {'_locale' : 'es'}) }}">{% trans %}idiomas.espanol{% endtrans %}</a><br>
    <a href="{{ path('armari_en', {'_locale' : 'en'}) }}">{% trans %}idiomas.ingles{% endtrans %}</a>
{% endblock %} 